<!DOCTYPE html>
<html>

<head>
    <%- include("../etc/header.ejs") %>
</head>

<body onload="loaded()">
    <div class="loader-back">
        <div class="loader"></div>
    </div>
    <%- include("../etc/nav.ejs") %>
    <main>
    </main>
    <%- include("../etc/footer.ejs") %>
</body>

</html>