<!DOCTYPE html>
<html>

<head>
    <%- include("../etc/header.ejs") %>
</head>

<body>
    <div class="loader-back">
        <div class="loader"></div>
        <p class="load-message">사이트를 불러오는중입니다...</p>
        <p class="load-message2">조금만 기다려주세요...</p>
    </div>
</body>

</html>