<div class="footer">
    <div class="footer-double">
        <div class="footer-left">
            <p class="footer-title">관련 링크</p>
            <li><a href="https://discord.gg/6d72f9u">Vendetta Discord</a></li>
            <li><a href="https://discord.gg/Aprpjxu">Vendetta Custom Discord Bot</a></li>
            <li><a href="https://www.youtube.com/channel/UCdkQT9t-vio9KmPOdti5ChA">Vendetta Youtube</a></li>
            <li><a href="https://twitch.tv/vendettadelsangue">Vendetta Twitch</a></li>
            <li><a href="https://blog.naver.com/sungminwoolove">Vendetta Naver Blog</a></li>
        </div>
        <div class="footer-right">
            <p class="footer-title">지원 가능한 서비스 플렛폼</p>
            <li><a href="https://discord.com">Discord</a></li>
            <li><a href="https://youtube.com">Youtube</a></li>
            <li><a href="https://twitch.tv">Twitch</a></li>
        </div>
    </div>
    <div class="footer-copyright">
        &copy;Vendetta[천마]
    </div>
</div>